@use "../global" as global;

.l-two-column {
  padding-top: 43px;
  padding-bottom: 60px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include global.mq(pc) {
    padding-top: 62px;
    padding-bottom: 0;
    padding-inline: 58px 50px;
    max-width: calc(1092px + 58px + 50px);
    margin-inline: auto;
    flex-direction: row;
    gap: 72px;
  }

  @include global.mq(tb) {
    gap: 30px;
  }
}

.l-two-column__main {
  flex-grow: 1;
  width: 100%;
}

.l-two-column__aside {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include global.mq(pc) {
    flex-shrink: 0;
    width: calc(300px / 1092px * 100%);
    gap: 60px;
  }

  @include global.mq(tb) {
    width: 33%;
  }
}
