@use "../global" as global;

.c-news-article {
  position: relative;

  &--large {
    margin-bottom: 2px;

    .c-news-article__label {
      top: 19px;
      padding: 3px 15px 4px;

      @include global.mq(pc) {
        top: 20px;
        padding: 3px 15px 4px 14px;
        font-size: 16px;
      }

      &::before {
        bottom: 0.6px;

        @include global.mq(pc) {
          bottom: 0;
        }
      }

      // &::after {
      //   // left: 1px;
      //   // width: 78px;
      //   // height: 24px;

      //   @include global.mq(pc) {
      //     // width: 93px;
      //     // height: 30px;
      //   }
      // }
    }

    .c-news-article__content-lead {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.71429; /* 171.429% */

      @include global.mq(pc) {
        margin-top: 17px;
        font-size: 20px;
        line-height: 1.6; /* 160% */
      }
    }

    .c-news-article__content-date {
      margin-top: 10px;
    }

    .c-news-article__content-date {
      @include global.mq(pc) {
        margin-top: 12px;
        font-size: 14px;
      }
    }
  }

  &--archive {
    .c-news-article__content-lead {
      margin-top: 8px;

      @include global.mq(pc) {
        margin-top: 12px;
        font-size: 16px;
        line-height: 1.5; /* 150% */
      }
    }

    .c-news-article__label {
      @include global.mq(pc) {
        top: 16px;

        font-size: 14px;
        padding: 4px 15px 3px 14px;

        // &:after {
        //   // width: 85px;
        //   // height: 27px;
        // }
      }
    }

    .c-news-article__content-lead {
    }

    .c-news-article__content-date {
      margin-top: 7px;

      @include global.mq(pc) {
        margin-top: 11px;
        margin-left: 0;
        font-size: 14px;
      }
    }
  }

  &--aside {
    .c-news-article__link {
      display: flex;
      gap: 14px;
    }

    .c-news-article__image {
      flex-shrink: 0;
      width: calc(100px / 295px * 100%);

      @include global.mq(pc) {
        width: calc(100px / 260px * 100%);
      }

      img {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }

    .c-news-article__content {
      flex-grow: 1;
    }

    .c-news-article__content-lead {
      margin-top: 1px;
      font-size: 14px;
      line-height: 1.71429; /* 171.429% */
      line-break: strict;
    }

    .c-news-article__content-date {
      margin-top: 9px;

      @include global.mq(pc) {
        margin-left: 0;
      }
    }
  }

  &--related {
    .c-news-article__content-lead {
      margin-top: 8px;

      @include global.mq(pc) {
        margin-top: 9px;
      }
    }

    .c-news-article__content-date {
      @include global.mq(pc) {
        margin-left: 0;
      }
    }
  }
}

.c-news-article__label {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -8px;
  color: global.$text-color-white;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  padding: 2px 11px 3px;
  max-width: 100%;

  @include global.mq(pc) {
    top: 12px;
    padding: 3px 16px 4px 14px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    z-index: 1;
    bottom: 0.4px;
    left: 0;
    transform: translateY(100%);
    width: 8px;
    height: 4px;
    background: #aaa;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  &::after {
    z-index: -1;
    top: 0;
    left: 0;
    // width: 70px;
    width: 100%;
    // height: 22px;
    height: 100%;
    background: global.$text-color;
    clip-path: polygon(0 0, 100% 0, calc(100% - 6px) 50%, 100% 100%, 0 100%);

    @include global.mq(pc) {
      // width: 78px;
      // height: 24px;
    }
  }
}

.c-news-article__link {
  .c-news-article__image img {
    transition: transform 0.3s ease;
  }

  &:hover {
    .c-news-article__image img {
      transform: scale(1.05);
    }
  }
}

.c-news-article__image {
  overflow: hidden;
}

.c-news-article__content {
}

.c-news-article__content-lead {
  margin-top: 6.25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5; /* 150% */
  line-break: strict;

  @include global.mq(pc) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71429; /* 171.429% */
  }
}

.c-news-article__content-description {
  margin-top: 10px;

  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5; /* 150% */

    @include global.mq(pc) {
      font-size: 14px;
      line-height: 1.71429; /* 171.429% */
    }
  }
}

.c-news-article__content-date {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  @include global.mq(pc) {
    margin-top: 10px;
    margin-left: 1px;
  }
}
