@use "../global" as global;

.p-breadcrumb {
  margin-block: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;

  @include global.mq(pc) {
    margin-block: 17px;
    font-size: 14px;
  }

  span {
    color: global.$main-color;
    font-weight: 700;
  }

  a {
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}

.p-breadcrumb__inner {
  padding-inline: 10px;
  display: flex;
  align-items: center;
  gap: 6px;

  @include global.mq(pc) {
    padding-inline: 91px;
    gap: 15.5px;
  }
}
