@use "../global" as global;

.p-drawer {
  position: fixed;
  z-index: map-get(global.$layer, drawer);
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  @include global.mq(pc) {
    &--front-page {
      opacity: 0;
      visibility: hidden;
    }
  }

  @include global.mq(tb) {
    &--front-page {
      opacity: 1;
      visibility: visible;
    }
  }

  &.is-checked {
    height: 100vh;
    background: rgba(0, 0, 0, 50%);
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}

.p-drawer__icon {
  position: fixed;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 10px;
  right: 10px;
  border-radius: 60px;
  background: global.$main-color;
  transition: background-color 0.3s ease;

  @include global.mq(pc) {
    top: 20px;
    right: 20px;
  }

  &.is-checked {
    background: global.$text-color-white;

    & .p-drawer__icon-bar {
      background: global.$main-color;
      top: 28.75px;
      left: 17px;

      &:nth-of-type(1) {
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        display: none;
      }

      &:nth-of-type(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.p-drawer__icon-bar {
  position: absolute;
  width: 27px;
  height: 2.25px;
  left: 17px;
  background: global.$text-color-white;
  transition: top 0.3s, left 0.3s, transform 0.3s;
  &:nth-of-type(1) {
    top: 21px;
  }

  &:nth-of-type(2) {
    top: 28.75px;
  }

  &:nth-of-type(3) {
    top: 36px;
  }
}

.p-drawer__content {
  position: fixed;
  z-index: 1;
  background: global.$main-color;
  width: 100%;
  max-width: 375px;
  height: 100vh;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;

  @include global.mq(pc) {
    transform: translateX(100%);
  }

  &.is-checked {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
  }
}

.p-drawer__content-logo {
  width: 128px;
  margin-top: 10px;
  margin-left: 14px;
}

.p-drawer__content-nav {
  margin-top: 55px;
  margin-left: 40px;
}

.p-drawer__content-list {
  display: flex;
  flex-direction: column;
  gap: 31.5px;
}

.p-drawer__content-text-en {
  color: global.$text-color-white;
  font-family: global.$ff-en2;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 2.88px;
}

.p-drawer__content-text-ja {
  margin-left: 9px;
  color: global.$text-color-white;
  font-family: global.$ff-base;
  font-size: 10px;
  font-weight: 500;

  &::before {
    content: "／";
    margin-right: 12px;
  }
}

.p-drawer__content-sns-icons {
  margin-top: 57px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.p-drawer__content-sns-icon {
  &:nth-of-type(1) {
    width: 32px;
  }

  &:nth-of-type(2) {
    width: 30px;
  }

  &:nth-of-type(3) {
    width: 35px;
  }
}
