@use "../global" as global;

.p-entry {
  padding-top: 43px;

  @include global.mq(pc) {
    padding-top: 62px;
  }
}

.p-entry__inner {
  padding-inline: 20px;

  @include global.mq(pc) {
    padding-inline: 50px;
    max-width: calc(688px + 50px * 2);
    margin-inline: auto;
  }
}

.p-entry__header {
}

.p-entry__image {
}

.p-entry__title {
  margin-top: 25px;
  margin-left: 1px;
  color: global.$main-color;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4; /* 140% */

  @include global.mq(pc) {
    margin-top: 24px;
    margin-left: 0;
    font-size: 28px;
    line-height: 1.42857; /* 142.857% */
  }
}

.p-entry__meta {
  margin-top: 22px;
  display: flex;
  align-items: center;

  @include global.mq(pc) {
    margin-top: 38px;
  }

  > * + * {
    position: relative;
    padding-left: 41px;
  }

  > * + *::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 18px;
    background: #382620;
  }
}

.p-entry__published {
  color: global.$main-color;
  font-family: "Noto Serif JP";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

.p-entry__category {
  a {
    color: global.$main-color;
    font-family: "Noto Serif JP";
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
  }
}

.p-entry__body {
  padding-top: 20px;

  @include global.mq(pc) {
    padding-top: 18px;
  }

  p {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 2; /* 200% */
    line-break: strict; /* 禁則処理を厳格に適用 */

    @include global.mq(pc) {
      margin-top: 15px;
      font-size: 16px;
    }
  }

  img {
    margin-top: 35px;
    margin-bottom: 23px;

    @include global.mq(pc) {
      margin-top: 36px;
      margin-bottom: 20px;
    }
  }

  h2 {
    position: relative;
    margin-top: 75px;
    margin-bottom: 18px;
    padding-left: 17px;
    color: global.$main-color;
    font-size: 18px;
    line-height: 1.55556; /* 155.556% */

    @include global.mq(pc) {
      margin-top: 97px;
      padding-left: 22px;
      font-size: 24px;
      line-height: normal;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 54px;
      background: global.$main-color;

      @include global.mq(pc) {
        width: 6px;
        height: 35px;
      }
    }

    span {
      font-weight: 700;
    }
  }

  h3 {
    margin-top: 54px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: 1px solid global.$main-color;
    color: global.$main-color;
    font-size: 16px;
    line-height: 1.5; /* 150% */

    @include global.mq(pc) {
      margin-top: 57px;
      font-size: 20px;
      line-height: normal;
    }

    span {
      font-weight: 700;
    }
  }

  h4 {
    margin-top: 54px;
    margin-bottom: 14px;
    color: global.$main-color;
    line-height: 1.71429; /* 171.429% */

    @include global.mq(pc) {
      margin-top: 54px;
      font-size: 16px;
      line-height: normal;
    }

    span {
      font-weight: 700;
    }
  }

  ul {
    margin-top: 27px;
    margin-bottom: 33px;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include global.mq(pc) {
      margin-top: 28px;
      margin-bottom: 32px;
      margin-left: 36px;
    }

    li {
      position: relative;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @include global.mq(pc) {
        font-size: 16px;
        line-height: normal;
      }

      &::before {
        position: absolute;
        content: "・";
        display: block;
        top: 50%;
        left: -14px;
        transform: translateY(-50%);

        @include global.mq(pc) {
          left: -16px;
        }
      }
    }
  }

  > blockquote {
    background: #f8f8f8;
    padding: 20px 24px 24px;

    @include global.mq(pc) {
      padding: 36px 40px 38px;
    }

    p {
      margin: 0;
    }

    cite {
      margin-top: 15px;
      margin-right: 19px;
      display: block;
      text-align: right;
      font-weight: 500;
      line-height: normal;
      font-style: normal;

      @include global.mq(pc) {
        margin-top: 17px;
        margin-right: -1px;
      }
    }
  }
}
