@use "../global" as global;

.p-menu {
  position: relative;
  padding-top: 119px;
  padding-bottom: 67px;

  @include global.mq(pc) {
    padding-top: 159px;
    padding-bottom: 80px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: calc(274px / 375px * 100%);
    height: calc(2755px / 3123px * 100%);
    background: global.$base-color-dark;

    @include global.mq(pc) {
      width: calc(1024px / 1280px * 100%);
      height: calc(2700px / 3243px * 100%);
    }
  }
}

.p-menu__head {
  margin-bottom: 40px;
  text-align: center;
}

.p-menu__head-en {
  margin-left: 4px;

  @include global.mq(pc) {
    margin-left: 13px;
  }
}

.p-menu__head-ja {
  @include global.mq(pc) {
    margin-top: 10px;
  }
}

.p-menu__genre-head {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border-top: 2px solid global.$text-color;
  border-bottom: 2px solid global.$text-color;
  padding-block: 5.5px;
  padding-left: 10px;

  @include global.mq(pc) {
    font-size: 24px;
    padding-block: 7px;
    padding-left: 21px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: global.$text-color;
  }

  &::before {
    top: 2px;
  }

  &::after {
    bottom: 2px;
  }
}

.p-menu__genre-list {
  margin-top: 20px;
  margin-bottom: 41.5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 21px;
  column-gap: 19px;

  @include global.mq(pc) {
    margin-top: 24px;
    margin-bottom: 100px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 34px;
  }
}

.p-menu__genre-item-image {
  border: 5px solid global.$text-color-white;

  @include global.mq(pc) {
    border: 8px solid global.$text-color-white;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
}

.p-menu__genre-item-name {
  margin-top: 7px;
  font-weight: 700;
  line-height: normal;

  @include global.mq(pc) {
    margin-top: 12px;
    font-size: 20px;
  }
}

.p-menu__genre-item-price {
  font-family: global.$ff-en3;
  font-size: 24px;
  line-height: normal;

  @include global.mq(pc) {
    margin-top: 1px;
    font-size: 32px;
  }
}

.p-menu__drinks-wrapper {
  margin-top: 19px;
  padding-inline: 20px;

  @include global.mq(pc) {
    margin-top: 26px;
    display: flex;
    gap: 62px;
    padding-inline: 0;
  }
}

.p-menu__drinks-image {
  display: none;

  @include global.mq(pc) {
    display: block;
    border: 8px solid global.$text-color-white;
    height: fit-content;
  }

  @include global.mq(tb) {
    display: none;
  }
}

.p-menu__drinks {
  @include global.mq(pc) {
    margin-top: -1px;
    margin-right: 8px;
    flex-shrink: 0;
    width: 686px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }

  @include global.mq(tb) {
    margin-right: 0;
    width: 100%;
  }
}

.p-menu__drink-head {
  padding-bottom: 10.5px;
  border-bottom: 1px solid global.$text-color;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;

  @include global.mq(pc) {
    padding-bottom: 12.5px;
  }
}

.p-menu__drink-list {
  padding-top: 12px;
  padding-bottom: 39px;
  display: flex;
  flex-direction: column;
  gap: 7.5px;
}

.p-menu__drink-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.p-menu__drink-name {
  font-weight: 700;
  line-height: normal;
}

.p-menu__drink-price {
  margin-right: 3px;
  font-family: global.$ff-en3;
  font-size: 20px;
  line-height: normal;
}

.p-menu__button {
  margin-top: 6px;
  margin-left: 5px;
  text-align: center;

  @include global.mq(pc) {
    margin-top: 59px;
  }
}

.p-menu__leaves-image {
  position: absolute;
  top: -196px;
  left: -43px;
  width: 190px;
  transform: rotate(-2deg);

  @include global.mq(pc) {
    top: -292px;
    left: -136px;
    width: 392px;
    transform: none;
  }
}
