@use "../global" as global;

.p-news {
  position: relative;
  padding-top: 116px;
  padding-bottom: 61px;

  @include global.mq(pc) {
    padding-top: 120px;
    padding-bottom: 160px;
  }
}

.p-news__inner {
}

.p-news__head {
  text-align: center;
}

.p-news__head-en {
  margin-left: 5px;

  @include global.mq(pc) {
    margin-left: 13px;
  }
}

.p-news__head-ja {
  margin-left: 3px;
}

.p-news__list {
  margin-top: 38px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 19px;
  row-gap: 18px;

  @include global.mq(pc) {
    margin-top: 40px;
    grid-template-columns: calc((510px - 6px) / 1100px * 100%) 1fr 1fr; /* 3列 */
    grid-template-rows: repeat(2, auto); /* 2行 */
    column-gap: 43px;
    row-gap: 32px;
  }

  & > :first-child {
    grid-column: 1 / -1; /* 1列目から2列目までまたがる＝2カラム分使う */

    @include global.mq(pc) {
      margin-right: -6px;
      grid-row: 1 / 3; /* 1行目から3行目（＝2行分）を縦にまたぐ */
      grid-column: 1; /* 1列目 */
    }
  }
}

.p-news__article {
  position: relative;

  &--large {
    margin-bottom: 2px;

    .p-news__article-label {
      top: 19px;
      padding: 3px 15px 4px;

      @include global.mq(pc) {
        top: 20px;
        padding: 3px 15px 4px 14px;
        font-size: 16px;
      }

      &::before {
        bottom: 0.6px;

        @include global.mq(pc) {
          bottom: 0;
        }
      }

      &::after {
        width: 78px;
        height: 24px;

        @include global.mq(pc) {
          width: 93px;
          height: 30px;
        }
      }
    }

    .p-news__article-content-lead {
      margin-top: 10px;
      font-size: 14px;
      line-height: 1.71429; /* 171.429% */

      @include global.mq(pc) {
        margin-top: 17px;
        font-size: 20px;
        line-height: 1.6; /* 160% */
      }
    }

    .p-news__article-content-date {
      margin-top: 11px;
    }

    .p-news__article-content-date {
      @include global.mq(pc) {
        font-size: 14px;
      }
    }
  }
}

.p-news__article-label {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -8px;
  color: global.$text-color-white;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  padding: 2px 11px 3px;

  @include global.mq(pc) {
    top: 12px;
    padding: 3px 16px 4px 14px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    z-index: 1;
    bottom: 0.4px;
    left: 0;
    transform: translateY(100%);
    width: 8px;
    height: 4px;
    background: #aaa;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  &::after {
    z-index: -1;
    top: 0;
    left: 0;
    width: 70px;
    height: 22px;
    background: global.$text-color;
    clip-path: polygon(0 0, 100% 0, 91% 50%, 100% 100%, 0 100%);

    @include global.mq(pc) {
      width: 78px;
      height: 24px;
    }
  }
}

.p-news__article-link {
  .p-news__article-image img {
    transition: transform 0.3s ease;
  }

  &:hover {
    .p-news__article-image img {
      transform: scale(1.05);
    }
  }
}

.p-news__article-image {
  overflow: hidden;
}

.p-news__article-content {
}

.p-news__article-content-lead {
  margin-top: 6.25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5; /* 150% */

  @include global.mq(pc) {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71429; /* 171.429% */
  }
}

.p-news__article-content-description {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5; /* 150% */

  @include global.mq(pc) {
    font-size: 14px;
    line-height: 1.71429; /* 171.429% */
  }
}

.p-news__article-content-date {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;

  @include global.mq(pc) {
    margin-top: 10px;
    margin-left: 2px;
  }
}

.p-news__button {
  margin-top: 46px;
  margin-left: 6px;
  text-align: center;

  @include global.mq(pc) {
    margin-top: 65px;
    margin-left: -3px;
  }
}

.p-news__plate-image {
  position: absolute;
  top: -125px;
  left: -52px;
  width: 205px;

  @include global.mq(pc) {
    top: -264px;
    left: -126px;
    width: 354px;
  }
}
