@use "../global" as global;

.p-news-entries {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24.5px;
  column-gap: 19px;

  @include global.mq(pc) {
    margin-top: 24px;
    row-gap: 40.5px;
    column-gap: 40px;
  }

  @include global.mq(tb) {
    column-gap: 20px;
  }
}
