@use "../global" as global;

.p-pagetop {
  position: fixed;
  z-index: 30;
  bottom: 6px;
  right: 8px;
  width: 44px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;

  @include global.mq(pc) {
    bottom: 20px;
    right: 20px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }
}
