@use "../global" as global;

.p-shop {
  padding-top: 44px;
  padding-bottom: 60px;

  @include global.mq(pc) {
    padding-top: 65px;
    padding-bottom: 0;
  }
}

.p-shop__inner {
}

.p-shop__list {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include global.mq(pc) {
    gap: 121px;
  }
}

.p-shop__item {
}

.p-shop__item-title {
  color: global.$main-color;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;

  @include global.mq(pc) {
    font-size: 24px;
  }
}
